<!DOCTYPE html>
<html>
  <head>
    <title>Rocket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <meta property='og:title' content='Rocket'/>
    <meta property='og:image' content='/app/assets/images/readme/landing.png'/>
    <meta property='og:description' content='Rocket, a clone of Pocket, is a single page app, plus chrome extension, I built for capturing, organizing, and reading fascinating content from around the web.'/>
    <meta property='og:url' content='https://rocket-kb.herokuapp.com/'/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/eeed1fa07d.js"></script>
    <script type="text/javascript">
      window.rocketLogo = "<%= image_url('rocket_logo_2.png') %>";
      window.googleIcon = "<%= image_url('icons/google.svg') %>";
    </script>
    <% if logged_in? %>
    <script type="text/javascript">
      window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
        user: current_user
      ).html_safe %>
    </script>
<% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
