<!DOCTYPE html>
<html>
  <head>
    <title>Rocket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.rocketLogo = "<%= image_url('rocket_logo.png') %>";
      window.googleIcon = "<%= image_url('icons/google.svg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
